* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container  {
    background-color: #f2f2f2; 
    position:absolute;
    width: 100%;
}
#container h1 {
    background-color: #f2f2f2;
    text-align: center; 
    
    font-size: 4rem ;
}
#cards {
   
    background-color: #dedefa; 
    display: flex;
    flex-wrap: wrap;
    
    
    justify-content: space-evenly;
    border: 1px solid #dedede;
   
}
#card {
    
  margin-top: 1%;
  margin-left: 1%;
  width: 25%;
  height: auto;
  min-height: 100%;
  
  /* border: 1px solid black; */
}
#image {
  height: auto;

  

}
#image img {
  width: 100%;
  height: auto;
  min-height: 250px;
  max-height: 250px;
  min-width: 300px;
  max-width: 300px;
  display: block;
}
#heading {
  color: rgb(49, 42, 34);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 3px 3px 0px 3px;
}
#description {
  height: auto;
  width: auto;
  word-wrap: break-word;
  margin: 3px 3px 0px 3px;
  color: rgb(49, 42, 34);
  font-family: cursive;
  font-weight: 300;
}
#sharemore {
    
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin: 3px;
}
#readmore {
  margin: 3px;
}
#pagechange{
  display: flex;
  justify-content: space-between;
  margin: 3px;
}
.nepr{
  
  
  cursor: pointer;
  border: none;
  padding: 3px;
}

.npbutton1{
  font-size: 1.5rem;
  position: absolute;
  left: 20%;
  
}
.npbutton2{
  position: absolute;
  right: 20%;

  
  font-size: 1.5rem;

}


