* {
    margin: auto;
    padding: auto;
}

.logo {
    height: 80px;
    width: 80px;
}

.navbar {
    display: flex;
    background: #252631;
    height: 115px;
    align-items: center;
}

.navbar_maincentre {
    margin: auto;
    align-items: center;
}

.navbar_mainright {
    align-items: right;
}

.navbarcentrelist {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.listitemcentre {
    box-shadow: 3px -3px 5px green;
    font-weight: 700;
    text-transform: uppercase;
    color: #edefe0;
    padding: 25px 27px;
    display: block;
    line-height: 1;
    text-shadow: #e4d804;
}

.navbarrightlist {
    list-style: none;
    display: flex;
    padding: 10px 10px;
}

.list_item_right_search {
    padding: 10px 10px;
}

.list_item_right_signin {
    padding: 10px 10px;
}

.search input {
    border: none;
    background: #12151e;
    color: #fff;
    padding: 13px 9px;
    font-size: 14px;
    border-radius: 30px;
    margin: 5px;
}

.search button {
    border: none;
    background: #12151e;
    color: #fff;
    padding: 14px 20px;
    font-size: 12px;
    border-radius: 30px;
    padding-right: 60px;
    margin: 5px;
}

.buttonsignin {
    user-select: none;
    -moz-user-select: none;
    background: #12151e none repeat scroll 0 0;
    border: 2px solid #e4d804;
    border-radius: 50px;
    color: #e3dfdf;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 14px 25px;
    text-transform: uppercase;
}