* {
    margin: auto;
    padding: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background-image: url(D:\project\comic_app\src\components\Navbar\logo12.jpg);
    background-repeat: none;
    background: size 1px;;
}

.navbar {
    display: flex;
    background: rgb(213, 222, 222);
    height: 80px;
    align-items: center;
}

.navbar_maincentre {
    margin: auto;
    align-items: center;
}

.navbar_mainright {
    align-items: right;
}

.navbarcentrelist {
    display: flex;
    list-style: none;
    
}

.listitemcentre {
    font-weight: 700;
    text-transform: uppercase;
    color: #edefe0;
    padding: 15px 15px;
    display: block;
    line-height: 1;
    margin: 7px;
    letter-spacing: 3px;
   
}


.navbarrightlist {
    list-style: none;
    display: flex;
    
}




.list_item_right_signin {
    padding: 10px 10px;
}

.search input {
    border: none;
    background: #bfc5da;
    color: #fff;
    padding: 13px ;
    font-size: 17px;
  
}

.search button {
    border: none;
    padding: 14px 20px;
    font-size: 15px;
    
}

